{
  "presets": ["next/babel"],
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining"],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": false,
        "preprocess": false,
        "minify": true
      }
    ],
    [
      "babel-plugin-module-resolver",
      {
        "root": [".", "./src"]
      }
    ]
  ]
}
